body {
	/*font-family: proxima-nova, sans-serif;*/
	font-family: 'Open Sans', sans-serif;;
	font-style: light;
	font-weight: 300;
	margin: 0;
}


.loading {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.onboarding-1 {
	background-image: url("assets/bg.png");
	/*height:100vh;*/
	width: 100%;
	height: 100%;
	background-repeat:no-repeat;
   	background-size:contain;
	color: white;
	position: absolute;
	display: none;
	z-index: 1;
}

.onboarding-2 {
	display: none;
}

.onboarding-4 {
	display: none;
}

.trans-bg {
	width: 900px;
	height: 800px;
	font-size: 100px;
	background-color: rgba(255, 255, 255, 0.3);
	/*opacity: 0.2;*/
	position: relative;
	z-index: 3;
	top: 51%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	/*left: 3.5%;*/
}

.get-started-btn {
    background-color: #DCDCDC;
    border: none;
    color: black;
    padding: 25px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 35px;
    z-index: 3;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /*margin-left: 270px;*/
}

.title-txt {
	padding-left: 50px;
	padding-top: 50px;
}

.title-txt2 {
	padding-left: 50px;
}

.txt3 {
	padding-top: 50px;
	padding-left: 50px;
	font-size: 45px;
	padding-bottom: 50px;
	padding-right: 50px;
}


.drone-top-img {
	margin-bottom: 0;
	transform: scale(2);
	position: absolute;
	left: 458px;
	top: 558px;
}

.girl-img {
	margin-top: 600px;
	width: 280px;
	height: 400px;
	margin-bottom: 100px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}


.girl-back {
	width: 280px;
	height: 476px;
	margin-top: 450px;
	/*margin-left: 295px;*/
	margin-bottom:100px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.title-blk {
	font-size: 55px;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}


.gmail-btn {
	background-color: #BBDEFB;
    border: none;
    color: black;
    padding: 25px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 35px;
    z-index: 3;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /*margin-left: 352px;*/
    margin-bottom: 20px;
    border-radius: 10px;

}

.fb-btn {
	background-color: #BBDEFB;
    border: none;
    color: black;
    padding: 25px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 35px;
    z-index: 3;
    /*margin-left: 352px;*/
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.pbar-1 {
	/*margin-left: 433px;*/
	display: block;
	margin-left: auto;
	margin-right: auto;
}


.onboarding-3 {
	width: 100%;
	height: 100%;
	background-repeat:no-repeat;
		background-size:contain;
	color: white;
	position: absolute;
	z-index: 1;
	display: none;
}

.bg-3 {
	width: 875px;
	height: 800px;
	position: relative;
	top: 3%;
	left: 5%;
	z-index: 5;
	background-color: #BBDEFB;
	border-radius: 20px;
}

.bg-4 {
	width: 810px;
	height: 720px;
	position: relative;
	top: 4%;
	left: 3.5%;
	z-index: 6;
	background-color: #BBDEFB;
	border-radius: 20px;
	border: 2px solid white;
}

.cc-title {
	color: black;
	font-size: 50px;
	padding-left: 50px;
	padding-top: 50px;

}

.cc-price {
	color: black;
	font-size: 100px;
	padding-left: 50px;
}

.cc-txt {
	padding-top: 30px;
	color: black;
	font-size: 50px;
	padding-left: 50px;
	padding-bottom: 20px;
}

.cc-bullet {
	color: black;
	font-size: 30px;
	padding-left: 50px;
	padding-right: 50px;
}

.cc-info {
	color: black;
	padding-left: 50px;
	font-size: 50px;
	padding-top: 70px;
}

/*.cc-img {
	width: 315px;
	height: 109px;
}*/

.pbar-2 {
	/*margin-left: 433px;*/
	margin-top: 600px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.pbar-3 {
	/*margin-left: 433px;*/
	margin-top: 500px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.closing-txt {
	color: black;
	font-size: 70px;
	text-align: center;
}

#rectangle {
	color: white;
	border-radius: 20px;
	border: 1px solid #979797;
}

.map {
	width: 100%;
	height: 100%;
	position: relative;
}

/*.white-bg {
	position: absolute;
}
*/
.home-logo {
	display: block;
	width: 166px;
	height: 168px;
	margin-left: auto;
	margin-right: auto;
	z-index: 8;
	position: absolute;
	top: 59%;
	left: 40%;
}

.home-txt {
	font-size: 45px;
	color: black;
	text-align: center;
	padding-left: 50px;
	padding-right: 50px;
	margin-top: 150px;
	margin-bottom: 50px;
}

.send-scout {
	background-color: #2196F3;
	border-radius: 10px;
	font-size: 35px;
	color: black;
	padding: 25px 50px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 70px;
	text-decoration: none;
	text-align: center;
	width: 275px;
	font-weight: bold;
}

.eta {
	display: block;
	text-align: center;
/*	margin-left: auto;
	margin-right: auto;*/
	font-size: 50px;
	font-weight: bold;
}

.home {
	position: absolute;
    display: none;
}

/*.confirmation {
	width: 900px;
	height: 800px;
	font-size: 80px;
	position: relative;
	z-index: 10;
	display: block;
	margin-left: auto;
	margin-right: auto;
	background-color: rgba(255, 255, 255, 0.3);
}*/


.confirmation {
	margin-left: auto;
	margin-right: auto;
	z-index: 12;
	background-color: red;
	/*position: relative;*/
	position: absolute;
	border-radius: 30px;
	background-color: white;
	/*background-color: rgba(255, 255, 255, 0.2);*/
	width: 972px;
	height: 550px;
	top: 35%;
    display: none;
}

#dummy-drone {
    display: none;
}

#drone-1 {
    left: 15px;
    top: 273px;
}

#drone-2 {
    left: 155px;
    top: 632px;
}

#drone-3 {
    left: 785px;
    top: 55px;
}

#drone-4 {
    left: 765px;
    top: 855px;
}

.popup {
	display: block;
	margin-left: 400px;
	/*margin-left: auto;*/
	/*margin-right: auto;*/
	padding-top: 130px;
}

.xbtn {
	font-size: 55px;
	float: right;
	padding-top: 20px;
	padding-right: 50px;
}

.drone {
    position: absolute;
    transform: scale(0.50);
    z-index: 6;
}

.talk-to-scout {
	background-color: #2196F3;
	border-radius: 10px;
	font-size: 35px;
	color: black;
	padding: 25px 50px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 70px;
	text-decoration: none;
	text-align: center;
	width: 275px;
	font-weight: bold;

}
